.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 1rem;
   
}
.box{
    background-color: gray;
    border: 1px solid black;
    height: 200px;
    text-align: center;
    align-items: center;
}